* {
    box-sizing: 0;
    margin: 0;
    outline: transparent;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

#root {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.mainBody {
    /* background-color: antiquewhite; */
    padding: 25px;
    display: inline-block;
    background-color: antiquewhite;
    border-radius: 20px;
}

.Heading {
    font-size: 34px;
    text-align: center;
    /* margin-top: 5rem; */
    background-color:cornflowerblue;
    color:whitesmoke;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width:200px;
    padding: 5px;

}

.ListContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.ListContainer h1 {
    text-align: center;
    color:gray;
    padding-top: 20px;
}

.ListContainer li { 
    font-size: 30px;
    text-align: center;
    margin-top: 1rem;
    background-color: whitesmoke;
    border:2px solid black;
    color:black;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
    /* width:200px; */
    padding: 5px 7px;
    transition: 1s ease-out 0s;
}    

/* .ListContainer li:hover {
    transform: translateY(-2.5px);
} */

.ListContainer button {
    border: none;
    margin-left: 5px;
    color:crimson;
}

.ListContainer button svg:hover{
    transition: 0.5s ease-out;
    transform: translateY(-2px);
}

/* form styles */
.formContainer label {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    font-size: 30px;
}


.formContainer label button{
    /* width: 200px; */
    font-size: inherit;
    background-color: rgb(1, 148, 21);
    color: whitesmoke;
    border-radius: 20px;
    padding: 5px 10px;
    border: none;
    height: 100%;
}

.formContainer label .removeSection button:nth-child(1){
    background-color: crimson;
}

.formContainer label .removeSection button:nth-child(2){
    background-color: darkred   ;
}

.formContainer label input {
    font-size: inherit;
    border-radius: 20px;
    outline: transparent;
    border: 2px solid cornflowerblue;
}

.formContainer label input[type="text"] {
    font-size: inherit;
    padding: 5px 7px;
    text-indent: 7px; 
    height: 100%;
    color:cornflowerblue;
}

.formContainer label input[type="text"]:focus {
    color:cornflowerblue;
    text-indent: 7px; 
}

.removeSection,
.updateSection {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.updateSection button:nth-child(2) {
    background-color: coral;
}